{{ open_form({'class': 'custom', 'data-validation-message' : ''}) }}
  <div class="row"> 
    <!-- Place this where you would like the AddressBook Widget to appear -->
    {{ amazonAddressBookWidget }}<br><br>
    <!--Place this where you would like the Wallet Widget to appear -->
    {{ amazonWalletWidget }}
  </div>
  
    <div class="twelve columns">
      <div class="right">
        <!-- See the onSetBillingAndShippignInfo AJAX handler implementation on the Checkout page's AJAX tab -->
        <a class="button" href="#" data-ajax-handler="amazonPayments:checkout" data-ajax-update="#checkout-page=shop-amazon-checkout, #breadcrumbs-area=amazon-checkout-progress, #mini-cart=shop-minicart">Next step</a>
      </div>
    </div>
  <input type="hidden" name="step" value="billing_info,shipping_info"/>
{{ close_form }}